<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Angular</title>
</head>
<body>
<div class="block1">
  <h1>Student's Form</h1>

  <p>This little service shows the true power of the Angular.
    <br>You can add a student by entering the data in the form below.
    <br>Just fill in all the fields and click the "Add" button.
    <br>Correctly filled fields are highlighted in green.
  </p>
  <p>You can also sort the posts by simply clicking on them.</p>

  <p>Fill in the fields:</p>

  <form #myForm="ngForm" novalidate>

    <div class="form-group">
      <label>Surname</label>
      <br><input class="form-control" name="surname" [(ngModel)]="newStudent.surname" required minlength="5"
                 pattern="^[A-Za-z ]+$"/>
    </div>
    <div class="form-group">
      <label>Name</label>
      <br><input class="form-control" name="name" [(ngModel)]="newStudent.name" required minlength="2"
                 pattern="^[A-Za-z ]+$"/>
    </div>
    <div class="form-group">
      <label>Patronymic</label>
      <br><input class="form-control" name="patronymic" [(ngModel)]="newStudent.patronymic" required minlength="5"
                 pattern="^[A-Za-z ]+$"/>
    </div>
    <div class="form-group">
      <label>Date of Birth</label>
      <br><input class="form-control" name="dateOfBirth" type="date" [ngModel]="newStudent.dateOfBirth| date:'yyyy-MM-dd'"
                 required/>
    </div>
    <div class="form-group">
      <label>Average grade (from 1.0-5.0):</label>
      <br><input class="form-control" name="averageGrade" [(ngModel)]="newStudent.averageGrade"
                 required pattern="(^[1-5]+(.[0]{1})?$)|(^[1-4]+(.[0-9]{1})?$)"/>
    </div>
    <div class="form-group">
      <button id="add" type="submit" [disabled]="myForm.invalid" *ngIf="!hideAdd"
              class="btn btn-primary" (click)="addStudent(newStudent); myForm.reset()">Add
      </button>
      <button type="submit" [disabled]="myForm.invalid" *ngIf="hideAdd"
              class="btn btn-primary" (click)="saveStudent(); myForm.reset()">Save
      </button>
      <button type="button" class="btn btn-primary" (click)=" myForm.reset()">Reset
      </button>
    </div>

  </form>

</div>
<div class="block2">
  <h1>Student's list</h1>

  <!--<input class="keyUp" (keyup)="onKeyUp($event)">-->

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Search text" [(ngModel)]="filterQuery">
  </div>



  <table class="table table-striped">
    <thead>
    <tr>
      <td>Index</td>
      <td (click)="sort('surname')">Surname</td>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('patronymic')">Patronymic</th>
      <th (click)="sort('dateOfBirth')">Date Of Birth</th>
      <th (click)="sort('averageGrade')">Average grade</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let student of data | myfilter : filterQuery; let i = index ">
      <td>
        {{i + 1}}</td>
      <td>{{student.surname}}</td>
      <td>{{student.name}}</td>
      <td>{{student.patronymic}}</td>
      <td>{{student.dateOfBirth | date}}</td>
      <td>{{student.averageGrade}}</td>
      <!--<td [innerHTML]="student.surname | highlight: filterQuery"></td>
      <td [innerHTML]="student.name | highlight: filterQuery"></td>
      <td [innerHTML]="student.patronymic | highlight: filterQuery"></td>
      <td [innerHTML]="student.dateOfBirth | date"></td>
      <td [innerHTML]="student.averageGrade"></td>-->
      <td>
        <button type="button"
                class="btn btn-default" (click)="changeStudent(i)">Сhange
        </button>
        <button type="button"
                class="btn btn-default" (click)="deleteStudent(i)">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<footer>
  <div class="block3"><p> UI 2022</p></div>
</footer>

</body>
</html>
